@tailwind base;
@tailwind components;
@tailwind utilities;

@import './inter'; /* Font Inter */
@import './space-grotesk'; /* Font Space Grotesk */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap'); /* Space Mono */
// @import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap'); /* Teko */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap'); /* Rajdhani */
// make the body dark using tailwind

body {
  @apply bg-black;
  @apply text-stone-300;
  // @apply overflow-x-hidden;
}

p {
  @apply text-stone-300 my-4 font-sans;
  a {
    @apply underline text-stone-100 font-semibold;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-slate-100;
  @apply font-bold;
  @apply font-display;
}

h1 {
  @apply text-4xl lg:text-6xl mb-6 tracking-tight leading-none;
}

h2 {
  @apply text-3xl lg:text-4xl my-6 tracking-tight leading-none;
}

h3 {
  @apply text-2xl my-6;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

hr {
  @apply border-slate-400 my-10;
}

/* Article Backdrop */

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .blurred-container {
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    background-color: var(--blurred-container-background);
  }
}

/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .blurred-container {
    background-color: var(--blurred-container-background-fallback);
  }
}

/* prose overrides */

.prose-heading-anchor {
  text-decoration: none !important;
}

.prose-container {
  @apply prose prose-invert lg:text-lg prose-pre:bg-white/10 prose-code:bg-white/10 prose-code:before:content-none prose-code:after:content-none prose-code:px-2;
}
